.Header {
  background-color: rgb(16, 16, 168);
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  border-bottom: 2px solid greenyellow;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
}

.DocAppHeading {
    margin-left: 2rem;
    font-size: 26px;
    letter-spacing: 1px;
}

/* .sideHeading {
    
} */

.sideHeading ul {
  /* background-color: green; */
  margin: 2px 2rem 2px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideHeading li {
    list-style: none;
    /* background-color: antiquewhite; */
    margin: 0px 4px;
}

.sideHeading li:hover{
    background-color: aliceblue;
    color: rgb(16, 16, 168);
    border-radius: 4px;
}

.sideHeading li a{
    text-decoration: none;
    color: aliceblue;
    padding: 3px 16px;
    border-radius: 4px;
    font-size: 18px;
}

.sideHeading li a:hover{
    background-color: aliceblue;
    color: rgb(16, 16, 168);
}

.headerPageLogin{
    background-color: green;
    border-radius: 4px;
    cursor: pointer;
}

.headerImageSection{
    background-image: url('https://images.unsplash.com/photo-1627495396837-a756c3267f77?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fGRvY3RvcnN8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 75vh;
}

.innercontentOfheaderImageSection{
    display: flex;
    /* background-color: antiquewhite; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.innercontentOfheaderImageSection p{
    font-size: 18px;
    margin-bottom: 12px;
}

.innercontentOfheaderImageSection h3{
    
}

.firstBlockSection{
    /* background-color: aquamarine; */
    margin: 0px 5rem;
    position: relative;
    top: -66px;
}

.cardBlockContainer{
    background-color: rgb(16, 16, 168);
    color: aliceblue;
    min-height: 160px !important;
}

.cardBlockContainer h5 i{
    color: aliceblue;
    margin-bottom: 6px;
}

.cardBlockTitle{
    color: rgb(24, 169, 24);
    /* font-size: 22px; */
}

.card-body a:hover{
    color: skyblue;
}

.cardText{
    text-decoration: none;
    color: aliceblue;
}

@media screen and (max-width: 900px) {
    .Header{
        /* background-color: brown; */
        height: 90px;
        display: flex;
        flex-direction: column;
    }

    .DocAppHeading{
        margin-left: 0%;
        margin-top: 6px;
    }

    .sideHeading ul{
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .sideHeading ul li a {
        font-size: 16px;
        padding: 1px 1.2px;
        margin: 2px;
    }
}

.HomepageDoctorList{
    background-color: gainsboro;
    padding: 30px 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Footer{
    /* background-color: aliceblue; */
}

.footerTitle{
    text-align: center;
    margin-bottom: 0px;
    padding: 30px 0px 0px 0px;
    letter-spacing: 1px;
}

.footerSectionContainer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 30px;
    /* background-color: aqua; */
    margin: 0px 4rem;
}

.sectionBlockContainer{
    
}

.footerSectionContainer section{
    width: 30%;
    padding: 0px 16px;
    border-radius: 6px;
}

.footerSectionContainer section h3{
    color: greenyellow;
}

.footerSectionContainer section h5 i{
    margin-right: 6px;
}

.addressLink{
    text-decoration: none;
    /* background-color: antiquewhite; */
    color: rgb(28, 28, 232);
}

.mbleLink{
    text-decoration: none;
    color: rgb(28, 28, 232);
}

.footerContact{
    margin-top: 12px;
}

.allIcons{
    /* background-color: blueviolet; */
    /* text-align: center; */
    display: flex;
}

.allIcons i{
    /* background-color: antiquewhite; */
    font-size: 1.6rem;
    padding: 1px;
    margin: 0px 0.3rem;
    cursor: pointer;
}

.availability{
    margin-top: 16px;
}

.upArrowIconSection{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: flex-end;
}

.upArrowIconSection i{
    background-color: #000;
    color: aliceblue;
    font-size: 26px;
    margin-right: 2rem;
    padding: 8px 12px;
    margin-bottom: 6px;
    border-radius: 50%;
    cursor: pointer;
}

.upArrowIconSection i:hover{
    background-color: rgb(16, 16, 168);
    color: #000;
}

.footerContent{
    background-color: rgb(16, 16, 168);
    text-align: center;
    padding: 16px;
    color: aliceblue;
    letter-spacing: 1px;
}

@media screen and (max-width: 740px) {
    .footerSectionContainer{
        display: flex;
        flex-direction: column;
    }

    .footerSectionContainer section{
        width: 100%;
        margin-bottom: 0.6rem;
    } 
}

.doctorListTitle{
    text-align: center;
    padding: 16px 0px 32px 0px;
    letter-spacing: 1px;
}

